.navbar {
  background-color: #fff;
  padding: 7px !important;
  display: flex !important;
  justify-content: space-around !important;
  /* align-items: stretch !important; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.5s ease;
  /* box-shadow: 10px 10px 15px #7777; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);


}

/* nav {
  padding-left: 10px;
} */
.title {
  font-size: 23px;
  font-weight: bold;
}

.navbar.open {
  transform: translateY(0%);
}

/* .navbar-logo img {
  width: 100px;
  height: 20px;
  margin-top: 8px;

} */

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: transform 0.3s ease;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-link {
  margin-top: 6px;
  /* margin-right: 10px; */
}

.navbar-link a {
  text-decoration: none;
  color: #111;
  padding: 7px 16px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.navbar-link a:hover {
  background-color: rgb(9, 203, 9);
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 10px;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-link {
    margin-bottom: 10px;
  }
}

.input-search {
  border: 1px solid #555;
  padding: 7px;
  border-radius: 7px;
}

.btn-search {
  padding: 7px 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  background-color: rgb(9, 203, 9);
  color: #fff;
}